#betalingen span:nth-child(1){
    width:76px;
}
#betalingen span:nth-child(2){
    width:260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#betalingen span:nth-child(3){
    width:76px;
}